<h1>Merchandise</h1>

<div class="searchcontainer">

    <div class="merchcontainer">
        <mat-card class="Box1">
            
            <button mat-button>Add to cart</button>
            <br>
            <h4>Black</h4>
            <br>
            <h4>150 DKK</h4>
        </mat-card>

        <mat-card class="Box2">
            
            <button mat-button>Add to cart</button>
            <br>
            <h4>Black</h4>
            <br>
            <h4>150 DKK</h4>
        </mat-card>

        <mat-card class="Box3">
            
            <button mat-button>Add to cart</button>
            <br>
            <h4>Black</h4>
            <br>
            <h4>150 DKK</h4>
        </mat-card>

        <mat-card class="Box3">
            
            <button mat-button>Add to cart</button>
            <br>
            <h4>Black</h4>
            <br>
            <h4>150 DKK</h4>
        </mat-card>
    </div>    
</div>