<h1>Merchandise</h1>
<button routerLink="/cart">Go to cart</button>
<div class="searchcontainer">
  <div class="merchcontainer">
    <mat-card class="card" *ngFor="let product of products">
      <img
        src="{{ product.img_url }}"
        alt="{{ product.name }}"
        class="imgSize"
      />
      <h3>
        {{ product.name }}
      </h3>
      <h4>{{ product.price }} €</h4>
      <h5>{{ product.quantity }} left</h5>
      <button mat-button (click)="addCartItem(product.id)">
        Add to cart
      </button>
    </mat-card>
    <!-- 
        <mat-card class="Box2">
            
            <button mat-button>Add to cart</button>
            <br>
            <h4>Black</h4>
            <br>
            <h4>150 DKK</h4>
        </mat-card>

        <mat-card class="Box3">
            
            <button mat-button>Add to cart</button>
            <br>
            <h4>Black</h4>
            <br>
            <h4>150 DKK</h4>
        </mat-card>

        <mat-card class="Box3">
            
            <button mat-button>Add to cart</button>
            <br>
            <h4>Black</h4>
            <br>
            <h4>150 DKK</h4>
        </mat-card> -->
  </div>
</div>
