.background {
  height: 355px !important;
}

.intro .btn-secondary {
  float: right;
  margin-top: 37px;

  ::ng-deep .mat-badge-content {
    background: #ffffff;
    color: var(--color-primary);
    padding: 0 7px;
    border: 2px solid var(--color-primary);
    box-sizing: content-box;
    border-radius: 14px;
    width: auto;
    top: -17px;
  }
}

.searchcontainer {
  input {
    width: 375px;
  }
}

.merchcontainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  column-gap: 22px;
  row-gap: 22px;
  margin-top: 35px;

  .card {
    display: grid;
    grid-template-rows: 200px auto;
    background-color: #ffffff;
    border-radius: 6px;
    text-align: center;

    .product-img img {
      max-width: 100%;
      max-height: 100%;
    }

    .product-details {
      padding-top: 22px;

      h3 {
        color: var(--color-dark-text);
        font-size: 14px;
      }

      .price {
        display: block;
        color: var(--color-dark-text);
        margin-bottom: 16px;
        font-weight: 500;
      }

      .remaining {
        display: block;
        color: var(--color-dark-text-alt);
        margin-top: 7px;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}

::ng-deep .mat-badge-accent .mat-badge-content {
  background: #467ff2;
  color: #fff;
}