<div class="background"></div>
<div class="container">
  <div class="intro">
    <h1 class="inlineblock">Merchandise</h1>
    <button class="btn-secondary" style="float:right;" routerLink="/cart" mat-button>Go to cart</button>
  </div>

  <div class="searchcontainer">
    <input class="input-primary" type="search" placeholder="Search..." value="" />
    <div class="merchcontainer">
      <div class="card box shadow" *ngFor="let product of products">
        <div class="product-img">
          <img src="{{ product.img_url }}" alt="{{ product.name }}" />
        </div>
        <div class="product-details">
          <h3>
            {{ product.name }}
          </h3>
          <span class="price">{{ product.price }}€</span>
          <button class="btn-primary" mat-button (click)="addCartItem(product.id, product.name)">
            Add to cart
          </button>
          <span class="remaining">{{ product.quantity }} in stock</span>
        </div>
      </div>
      <!-- 
        <mat-card class="Box2">
            
            <button mat-button>Add to cart</button>
            <br>
            <h4>Black</h4>
            <br>
            <h4>150 DKK</h4>
        </mat-card>

        <mat-card class="Box3">
            
            <button mat-button>Add to cart</button>
            <br>
            <h4>Black</h4>
            <br>
            <h4>150 DKK</h4>
        </mat-card>

        <mat-card class="Box3">
            
            <button mat-button>Add to cart</button>
            <br>
            <h4>Black</h4>
            <br>
            <h4>150 DKK</h4>
        </mat-card> -->
    </div>
  </div>
</div>