.logo {
  background-image: url('../../../assets/logos/logo.png');
  background-repeat: no-repeat;
  background-size: 36px;
  background-position: 8.5px center;
  height: 40px;
  width: 40px;
  margin-right: 14px;
  padding: 8px;
  border-radius: 50%;
  box-sizing: content-box;
  cursor: pointer;

  ::ng-deep .mat-ripple-element {
    background-color: rgba(255, 255, 255, 0.15) !important;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.mat-toolbar {
  background-color: transparent;
}

.header {
  background: transparent;
  z-index: 999;
  height: 100px;
  padding: 0 calc((100% - 1200px) / 2);
}

.navbar {
  justify-content: space-between;
  position: relative;
}

.nav-item {
  color: var(--color-light-text);
  cursor: pointer;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 0.1em;
  padding: 10px 16px;
  user-select: none;
  border-radius: 6px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &~.nav-item {
    margin-left: 10px;
  }

  &:last-child::after {
    display: inline-block;
    content: '';
    background-image: url('../../../assets/icons/arrow.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 16px;
    width: 16px;
    margin-left: 12px;
    vertical-align: text-bottom;
  }
}

.header-image {
  cursor: pointer;
  height: 2.5rem;
}

// Removes blue outline from activated routerLink
:focus {
  outline: 0 !important;
}