<!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
</div> -->
<div class="background"></div>
<div class="container">

  <div class="intro">
    <h1>Test your knowledge</h1>
    <h3>Drag & drop
      <button (click)="playHighscore()" class="myBtn"
        matTooltip="Mysterious, this is"
        aria-label="Button that displays a tooltip when focused or hovered over">
        quiz
</button>
    </h3>
  </div>
  
  <div class="stepper-container shadow box">
    <mat-horizontal-stepper [@.disabled]="true" class="stepper" labelPosition="bottom" linear #stepper>
      <!-- First Step Start -->
      <mat-step>
        <ng-template matStepLabel>Where should you cough?</ng-template>
        <h2 class="question">Where should you cough?</h2>
        <app-drag-list [questionList]="questionOne" [answerList]="answersOne"></app-drag-list>

        <div>
          <button class="btn-primary" *ngIf="answersOne.length > 0" mat-button matStepperNext
            (click)="checkAnswer(answersOne[0])">Next Question</button>
        </div>
      </mat-step>
      <!-- First Step Stop -->

      <!-- Second Step Start -->
      <mat-step>
        <ng-template matStepLabel>What does Incubation periode mean?</ng-template>
        <h2 class="question">What does Incubation periode mean?</h2>

        <app-drag-list [questionList]="questionTwo" [answerList]="answersTwo"></app-drag-list>

        <div>
          <button class="btn-primary" *ngIf="answersTwo.length > 0" mat-button matStepperNext
            (click)="checkAnswer(answersTwo[0])">Next Question</button>
        </div>
      </mat-step>
      <!-- Second Step Stop -->

      <!-- Third Step Start -->
      <mat-step>
        <ng-template matStepLabel>For how long should you wash your hands?</ng-template>
        <h2 class="question">For how long should you wash your hands?</h2>

        <app-drag-list [questionList]="questionThree" [answerList]="answersThree"></app-drag-list>

        <div>
          <button class="btn-primary" *ngIf="answersThree.length > 0" mat-button matStepperNext
            (click)="checkAnswer(answersThree[0])">Finish</button>
        </div>
      </mat-step>
      <!-- Third Step Stop -->
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <h2 class="center">Congratulations</h2>
        <h3 class="center">You scored {{totalCorrect}} / 3</h3>
        <mat-form-field>
          <input matInput placeholder="Your name" [(ngModel)]="playerName">
        </mat-form-field>
        <button class="btn-primary" mat-button matStepperNext
          (click)="getHighScore()">Submit Score</button>
      </mat-step>

      <!-- Highscore Step Start -->
      <mat-step>
        <ng-template matStepLabel>Highscores</ng-template>
        <h2 class="center">Highscores</h2>

     <div class="table-container">
          <table mat-table [dataSource]="highscores" class="mat-elevation-z8 highscore-table">
  
            <!-- Score Column -->
            <ng-container matColumnDef="score">
              <th mat-header-cell *matHeaderCellDef> Score </th>
              <td mat-cell *matCellDef="let score"> {{score.score}} </td>
            </ng-container>

             <!-- Name Column -->
             <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let score"> {{score.name}} </td>
            </ng-container>
          
            <!-- Date Column -->
            <ng-container matColumnDef="created">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let score"> {{score.created | date}} </td>
            </ng-container>
          
         
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
     </div>

      </mat-step>
      <!-- Highscore Step Stop -->
    </mat-horizontal-stepper>
  </div>
</div>