.background {
  height: 771px !important;
  background-image: url('../../../assets/icons/world_low.svg'); // amCharts - https://www.amcharts.com/svg-maps/?map=world
  background-position: center 50px;
  background-size: 1200px;
  background-repeat: no-repeat;
}

#search-country {
  margin: 90px 0 12px 17px;
  width: 300px;
}